---
  buildinstance:
    hosts:
      ${vm1-ip}:
    vars:
      ansible_python_interpreter=/usr/bin/python3

  deployinstance:
    hosts:
      ${vm2-ip}:
    vars:
      ansible_python_interpreter=/usr/bin/python3
